*, *::after, *::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    
}

body {
    height: 100%;
    background-image: url(../img/pexels-pavel-danilyuk-7234386.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
;

}
header {
    padding: 2rem;
}
h2 {
    color: red;
    font-size: 2rem;
}
.formulario_contenedor {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
    background-color:rgba(0, 0, 0, .9)
}

.formulario_campos {
    margin: 1rem;   
}


legend {
    margin: 1rem;
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #b3804b;
}

input {
    border-radius: .5rem;
    display: block;
    padding: .5rem;
    border: none;
}

label {
    display: block;
    margin-bottom: .5rem;
}

.boton {
    background-color: #102b46;
    padding: .5rem 2rem;
    border-radius: .5rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    border: none;
}

.boton:hover {
    cursor: pointer;
    background-color: #b3804b;
}
/* .formulario_contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.formulario {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    
}

.formulario div {
    display: flex;
    justify-content: space-between;
   
}
legend {
    background-color: red;
}
label {
    display: inline-block;
    color: wheat;
    font-size: 2rem;
    margin: 0 2rem;
  
}

input {
    
    font-size: 2rem;
    text-align: center;      
}
#submit, #button {
    width: 100%;
} */