
html {

    height: 100vh;
    
}

body {
    height: 100vh;
    background-image: url(../img/pexels-pavel-danilyuk-7234386.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 


}
h2 {
    color: red;
    font-size: 1.5rem;
    margin: 1rem;
}

a {
    text-decoration: none;
    color: red;
}
.formulario_contenedor {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
    background-color: rgba(255, 255, 255, .4)
}

.formulario_campos {
    margin: 1rem;
}


legend {
    margin: 1rem;
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #b3804b;
}

input {
    border-radius: .5rem;
    display: block;
    padding: .5rem;
    border: none;
    
}

label {
    display: block;
    margin-bottom: .5rem;
    text-align: center;
}

.boton {
    background-color: #102b46;
    padding: .5rem 2rem;
    border-radius: .5rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    border: none;
    width: 100%;    
}

.boton:hover {
    cursor: pointer;
    background-color: #b3804b;
}
