
.contenedornavbar {
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color: #000033 ;
    z-index: 99;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbarlist {
    display: flex;
    margin:0;
    gap: 2rem;
     
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.navbarlist a:hover {
    background-color: blueviolet;
}

li {
    list-style: none;
}

.burger-label {
    display: none;
    z-index: 2;
    

}
#burger-label {
    display: none;
    z-index: -1;


}


@media (max-width: 720px) {

    .burger-label, #burger-label {
        display: inline-block;
        position: absolute;
        top: 1rem;
        right: 0rem;
        width: 2rem;
        height: 2rem;
    }
    #burger-label {
        display: none;
    }
    .navbarlist {
        display: none;
    }

    #burger-label:checked ~ .navbarlist {

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 100vh;
        transition: all 0.8s;
        background-color: black;
        opacity: .85;
    }
}