

body {
    background-color: black;
    color: whitesmoke;
}

h1, h2, h3 {
    margin:0;
    padding-bottom: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}
h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.2rem;
}

img {
    max-width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.contenedorfijo {
    position: fixed;
    width: 100%;
    top:0;
    right: 0;
    margin:0;
}

.logo {
    color: red;
    padding: 0;
    font-size: 1.5rem;
}

.peliculas, .series {
    margin-top: 1rem;
    margin-left: 1rem;
}

.carrusel {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
    margin: 1rem;
 }

@media (max-width: 760px) {
    .carrusel {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        margin: 1rem;
     }
}

@media (max-width: 500px) {
    .carrusel {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin: 1rem;
     }
}
.carrusel div:hover .descripcion {
    display: block;
}


 .ficha {
    position: relative;
    margin-bottom: 2rem;
     
 }
.descripcion {
    overflow: hidden;
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .80);
    font-size: .6rem;
    
}
.descripcion > span {
    color: lightgreen;
}
#favorito {
    position: absolute;
    z-index: 3;
    opacity: 0;
    height: 2rem;
    width: 2rem;

    
}

.favorito_label {


    z-index: 4;
    position: absolute;
    display: line;
    left: 1.5rem;
    

}


.sifav {
    position: absolute;
    left: 0;
    width: 1rem;
    height: 1rem;
    z-index: 2;

    
}
.nofav {
    position: absolute;
    left: 0;
    height: 1rem;
    width: 1rem;
}

#favorito:checked ~ .sifav {
    display: none;
}

footer {
    display: flex;
    justify-content: center;
}